{{ partial "header.html" . }}

{{ if .IsHome }}
<div class="article-meta">
  <h1>{{ .Title | markdownify }}</h1>
</div>
  {{ partial "archive.html" .}}
{{ else }}  <!-- general case -->
<div class="article-meta">
  <h1>Posts</h1>
</div>
<h2>{{ .Title | markdownify }}</h2>
<ul class="posts">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>&nbsp;
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
