@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR&family=Roboto+Mono&display=swap');

h1 {
  font-family: 'Optima', 'Noto Sans KR', 'Lucida Sans', 'Calibri', 'Candara', 'Arial', sans-serif;
}

body { 
  font-family: 'Noto Sans KR', 'Lucida Sans', 'Calibri', 'Candara', 'Arial', sans-serif;
}

blockquote {
  font-family: 'Noto Serif KR', 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
}

code {
  font-family: 'Roboto Mono', 'Lucida Console', 'Monaco', monospace;
}

pre code {
  font-family: 'Roboto Mono', 'Lucida Console', 'Monaco', monospace;
  font-size: .85em;
}
